
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Something went wrong</h2>

<h4>We're sorry, but your request cannot be completed at this time.</h4>
<hr />
<p>Please try again, or feel free to respond to one of the update emails with your issue. </p>

<p>If emailing, we would very appreciative if you could send over any information about what you were doing that caused the issue.</p>
<p>&nbsp;</p>
<p>Sorry for any inconvenience, </p>
<p>BoardSquares Admins</p>