@{
    ViewBag.Title = "Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oops!</h2>

<h4>That page doesn't seem to exist.</h4>
<hr />
<p>Please use the navigation menu to find the correct page, or feel free to respond to one of the update emails if you believe this is an error </p>

<p>If emailing, we would very appreciative if you could send over any information about what you were doing that caused the issue.</p>
<p>&nbsp;</p>
<p>Sorry for any inconvenience, </p>
<p>BoardSquares Admins</p>